{% extends "base.html" %}
{% load bootstrap %}
{% block title %}Add Investor{% endblock %}

{% block content %}

    {% if form.errors %}
        <p style="color: red;">
            Please correct the error{{ form.errors|pluralize }} below.
        </p>
    {% endif %}

    <div class="container" style="width: 50%">
        <p></p>
        <h1>Add Author</h1>
        <form method="post">
            {% csrf_token %}
            {{ form | bootstrap }}
            <input class="btn btn-primary" type="submit" value="Submit">
        </form>
    </div>

{% endblock %}